.titlebar{
    width: 100%;
    background-color: #0b2638;
    user-select: none;
    position: relative;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }