@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red-color: #d53b12;
  --main-color: #0b2638;
  --special-color: #233d72;
  font-family:'Times New Roman', Times, serif;
}

::-webkit-scrollbar {
  width: 5px; /* ширина для вертикального скролла */
  background-color: #b9b9b9;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #0b2638be;
  border-radius: 1em;
}

.lim-txt{
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}