.msg-out-group, .msg-inc-group{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    margin-top: 9px;
    margin-bottom: 9px;
}

.msg-out-group{
    align-items: flex-end;
}
.msg-inc-group{
    align-items: start;
}